.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/Engine/bin
/HumanBody/bin
/HumanBody/*.classpath
/Engine/*.project
/HumanBody/*.project
/OpenGLExample/bin
/PersistenceManager/bin
/PersistenceManager/*.classpath
/Tagarela/bin
/TagarelaSynchronization/bin
